.dashboard-main-section{
    padding-top: 25px;
    min-height: calc(100vh - 189px);
}
.dashboard-main-section .col-left .single-box{
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.dashboard-main-section .col-left {
    row-gap: 20px;
    margin-top: 50px;
}
.dashboard-main-section .col-left .current-order{
    background: var(--primary);
}
.dashboard-main-section .col-left .current-order .title h3{
font-size: var(--text_size);
font-weight: 500;
line-height: 24px;
color: var(--text);
margin: 0;
}
.dashboard-main-section .col-left .current-order .title h4{
    font-size: 10px;
    line-height: 12px;
    font-weight: 200;
    color: var(--text);
}
.dashboard-main-section .col-left .current-order .processing .btn a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
    color: var(--white);
    background: var(--btn_bg);
    padding: 8px 32px;
    border-radius: 5px;
    border: 1px solid var(--btn_bg);
    transition: 0.4s;
}
.dashboard-main-section .col-left .current-order .processing .btn a:hover{
     background: transparent;
     color: var(--btn_bg);
}

.dashboard-main-section .col-left .current-order .progress-box .progress{
    height: 13px;
    border-radius: 10px;
    margin-top: 30px;
    background: var(--white);
}
.dashboard-main-section .col-left .current-order .progress-box .progress .progress-bar{
    background-color: var(--btn_bg);
    border-radius: 10px;
}
.dashboard-main-section .col-left .single-box .title h2{
    font-weight: 600;
    margin-top: 32px;
}
.dashboard-main-section .col-left .previous-order{
    background-color: #C2E7FC;
    text-align: center;
}
.dashboard-main-section .col-left .single-box .count{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: var(--btn_bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}
.dashboard-main-section .col-left .single-box .count span{
    font-size: 70px;
    font-weight: 400;
    line-height: 84px;
    color: var(--white);
    font-family: "Itim", cursive;
}
.dashboard-main-section .col-left .cancel-order{
    background-color: var(--primary);
    text-align: center;
}
.dashboard-main-section .col-left .single-box.cancel-order h2, 
.dashboard-main-section .col-left .single-box.previous-order h2{
    margin-top: 10px;
}
.dashboard-main-section .col-right .latest-offer .slider .carousel-indicators{
    bottom: -52px;
} 
.dashboard-main-section .col-right .latest-offer .slider .carousel-indicators button{
    width: 66px;
    height: 7px;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.dashboard-main-section .col-right .latest-offer .slider{
    margin-top: 18px;
}
.dashboard-main-section .col-right .latest-offer .slider .carousel-item .items{
    column-gap: 8px;
}
.dashboard-main-section .col-right .latest-offer .slider .carousel-indicators button.active{
    background-color: #605656;
}
.dashboard-main-section .col-right .google-map .address{
    padding: 30px 20px;
}
.dashboard-main-section .col-right .google-map .title h3{
    font-size: var(--text_size);
font-weight: 500;
line-height: 24px;
color: var(--text);
margin: 0;
}
.dashboard-main-section .col-right .google-map{
    margin-top: 65px;
}
.dashboard-main-section .col-right .google-map .btn a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
    color: var(--white);
    background: var(--btn_bg);
    padding: 7px 11px;
    border-radius: 5px;
    border: 1px solid var(--btn_bg);
    transition: 0.4s;
}
.dashboard-main-section .col-right .google-map .btn a:hover{
    background: transparent;
    color: var(--btn_bg);
}
.dashboard-main-section .col-right .google-map {
    background: var(--primary);
    border-radius: 25px;
}
.dashboard-main-section .col-right .map{
    height: 105px;
}
.dashboard-main-section .col-right .map iframe{
    width: 100%;
    height: 105px;
}
.dashboard-main-section .col-right .google-map .address-btn{
    padding: 30px 15px;
}
.dashboard-main-section .col-right .google-map .address-btn a {
    text-decoration: none;
}
.dashboard-main-section .col-right .google-map .address-btn a i{
    color: var(--btn_bg);
}
.dashboard-main-section .col-right .google-map .address-btn a span{
    font-size: 12px;
    line-height: 17px;
    font-weight: 200;
    color: var(--text);
    margin-left: 5px;
    margin-right: 8px;
    transition: 0.4s;
}
.dashboard-main-section .col-right .google-map .address-btn a span:hover{
    color: var(--btn_bg);
}
.dashboard-main-section .col-right .customer-supporrt a{
    text-decoration: none;
    color: var(--text);
}
.dashboard-main-section .col-right .customer-supporrt a .single:hover{
    transform: scale(1.04);
}
.dashboard-main-section .col-right .customer-supporrt .single{
    background-color: var(--primary);
    padding: 30px 0;
    border-radius: 25px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    transition: 0.4s;
}
.dashboard-main-section .col-right .customer-supporrt img{
    box-shadow: 1px 10px 3px -5px rgba(0, 0, 0, 0.25);
}
.dashboard-main-section .col-right .log-out img{
    transition: 0.4s;
    margin-top: 55px;
}
.dashboard-main-section .col-right .log-out img:hover{
    scale: 1.03;
}
.dashboard-main-section .col-mid .tips p{
    font-size: 15px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 0;
    line-height: 19px;
    text-align: justify;
}
.dashboard-main-section .col-mid .tips .single-tips{
    padding: 15px 20px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-top: 20px;
}
.dashboard-main-section .col-mid .tips p span{
    color: var(--btn_bg);
}
.dashboard-main-section .col-mid .tips h2 span{
    color: var(--btn_bg);
}
.dashboard-main-section .col-mid .order-cart-wish{
    column-gap: 20px;
    margin-top: 20px;
}
.dashboard-main-section .col-mid .order-cart-wish .single{
    background-color: var(--primary);
    width: 153px;
    height: 157px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.dashboard-main-section .col-mid .order-cart-wish a{
    text-decoration: none;
    color: var(--text);
    transition: 0.4s;
}
.dashboard-main-section .col-mid .order-cart-wish a:hover{
    transform: scale(1.04);
}
.dashboard-main-section .col-mid .order-cart-wish .single h2{
    font-weight: 600;
    margin-top: 8px;
}
.dashboard-main-section .col-mid .order-cart-wish a:nth-child(2) .single,
.dashboard-main-section .col-mid .order-cart-wish a:nth-child(4) .single{
    background-color: #C2E7FC;
}
.dashboard-main-section .col-mid .medicine-slider{
    margin-top: 20px;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-inner{
 background-color: #EEEEEE;
 padding: 25px 45px;   
 border-radius: 25px;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 text-align: center;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-inner .carousel-item h3{
    font-size: 24px;
    line-height: 26px;
    font-weight: 250;
    color: var(--text);
}
.dashboard-main-section .col-mid .medicine-slider .carousel-inner .carousel-item h3 span{
    font-weight: 600;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-inner .carousel-item p{
    font-size: var(--text_size);
    font-weight: 400;
    line-height: 30px;
    color: var(--text);
}
.dashboard-main-section .col-mid .medicine-slider .carousel-inner .carousel-item p span{
    font-weight: 700;
}
.dashboard-main-section .col-mid .medicine-slider button{
    width: auto;
    bottom: 0;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-control-prev .carousel-control-prev-icon{
    display: none;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-control-prev::after{
    position: absolute;
    content: "\f060";
    font-family: FontAwesome;
    color: black;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-control-next::after{
    position: absolute;
    content: "\f061";
    font-family: FontAwesome;
    color: black;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-control-next .carousel-control-next-icon{
    display: none;
}
.dashboard-main-section .col-mid .medicine-slider .circle{
    width: 13px;
    height: 13px;
    background-color: #A7C438;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
}
.dashboard-main-section .col-mid .medicine-slider .carousel-control-next{
    left: 54%;
    transform: translateX(-50%);
    bottom: 19px;
    top: inherit;
}
.dashboard-main-section .col-mid .medicine-slider .carousel-control-prev{
    left: 46%;
    transform: translateX(-50%);
    bottom: 19px;
    top: inherit;
}
.dashboard-main-section .col-mid .my-payment-feedback .img{
width: 50px;
  height: 50px;
  background: rgba(123, 177, 65, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-main-section .col-mid .my-payment-feedback{
    column-gap: 2%;
    margin-top: 25px;
}
.dashboard-main-section .col-mid .my-payment-feedback .single{
    padding: 40px;
    border-radius: 25px;
    width: 50%;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.dashboard-main-section .col-mid .my-payment-feedback a{
    background-color: #C2E7FC;
    text-decoration: none;
    color: var(--text);
    transition: 0.4s;
}
.dashboard-main-section .col-mid .my-payment-feedback a:hover{
    transform: scale(1.04);
}
.dashboard-main-section .col-mid .my-payment-feedback a:nth-child(2){
    background-color: var(--primary);
}
.dashboard-main-section .col-mid .my-payment-feedback .my-payment,
.dashboard-main-section .col-mid .my-payment-feedback .feedback{
    column-gap: 10px;
}
.dashboard-main-section .col-mid .my-payment-feedback h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text);
}
.socket p a{
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    transition: 0.4s;
}
.socket p a:hover{
    text-decoration: underline;
}
.socket p{
    color: rgba(0, 0, 0, .5);
    font-size: 19px;
    line-height: 23px;
    font-weight: 600;
    padding: 30px 0;
}

/*================= My Order page ===================*/
.my-order-section{
    /* padding-top: 70px; */
    /* padding-bottom: 70px; */
}
.my-order-section .page-title h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: var(--text);
}
.my-order-section .show-order{
    background-color: var(--secondary-bg);
    padding: 20px 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.my-order-section .show-order h4{
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    color: var(--text);
    margin-bottom: 0;
}
.my-order-section .show-order .form-select:focus{
    outline: none;
    box-shadow: none;
}
.my-order-section .show-order .form-select{
    border: 1px solid #000;
    width: 240px;
    border-radius: 0;
    padding: 6px 10px;
    background-color: transparent;
}
select.form-select::selection{
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
}
.my-order-section .order-row{
    background-color: var(--secondary-bg);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
.my-order-section .order-row .order-id-row{
    padding: 25px;
    padding-bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.47);
}
.my-order-section .order-row .order-id-row .status .total{
        font-family: "Inter", sans-serif;
        font-size: 15;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 0;
}
.my-order-section .order-row .order-id-row .order-num{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}
.my-order-section .order-row .order-id-row .order-num span{
    font-weight: 300;
}
.my-order-section .order-row .order-id-row .date-time{
    font-family: "Inter", sans-serif;
    font-size: 15;
    font-weight: 300;
    line-height: 0;
}
.my-order-section .order-row .img{
    width: 90px;
}
.my-order-section .order-row .list-item:last-child{
    border-bottom:0;
}
.my-order-section .order-row .list-item{
    border-bottom:1px solid rgba(0, 0, 0, 0.47);
}
.my-order-section .order-row .product-info .name{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0;
}
.my-order-section .order-row .product-info .cat{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 0;
}
.my-order-section .order-row .qty{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(0 0 0 / 50%);
    margin-bottom: 0;
}
.my-order-section .order-row .qty span{
    color: #000;
}
.my-order-section .order-row .order-status .btn a {
    width: 130px;
    border: 2px solid #000;
    border-radius: 10px;
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    display: inline-block;
    transition: 0.4s;
}
.my-order-section .order-row .order-status .btn a:hover{
    background: var(--primary);
    border-color: var(--primary);;
}
.my-order-section .order-row .order-status .total{
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    color: var(--text);
}
.my-order-section .page-link{
    color: var(--btn_bg) !important;
}
.my-order-section .page-link.active, .active>.page-link {
    background-color: var(--primary);
    border-color: var(--text);
    color: var(--text) !important;
}
