.header-section{
     background-color: var(--bg);
     border-radius: 25px 25px 0 0;
     padding: 13px 0;
}
.header-section .logo{
    width: 70px;
}
.header-section .nav-menu ul li a{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    padding: 20px 15px;
}
.header-section .nav-menu ul li a.active{
    background: var(--primary);
    border-radius: 10px;
    font-weight: 700;
}
.header-section .nav-menu ul li{
    transition: 0.4s;
}
.header-section .nav-menu ul li:hover{
    background: var(--primary);
    border-radius: 10px;
    font-weight: 700;
}
.header-section .name a{
    font-size: var(--text_size);
    line-height: 24px;
    font-weight: 700;
    color: var(--text);
    text-transform: uppercase;
    text-decoration: none;
}
.header-section .setting a img{
    transition: 0.4s;
}
.header-section .setting a img:hover{
    transform: rotate(20deg);
}
.header-section .notification a img{
    transition: 0.4s;
}
.header-section .notification a img:hover{
    transform: scale(1.1);
}
.header-section .profile a::after{
    display: none;
}
.header-section .profile{
    position: relative;
}
.header-section .profile ul.dropdown-menu{
    transform: inherit !important;
    border-radius: 10px;
    border-width: 2px;
    border-color: #0000004a;
    inset: inherit !important;
    right: 0 !important;
    top: 92px !important;
}
.header-section .profile ul.dropdown-menu a img{
    width: 30px;
    margin-right: 15px;
}
.header-section .profile ul.dropdown-menu li{
    margin-bottom: 15px;
}
.header-section .profile ul.dropdown-menu li:last-child{
    margin-bottom: 0;
}
.header-section .profile ul.dropdown-menu a span{
    font-size: var(--text_size);
    line-height: 24px;
    font-weight: 400;
}