@media screen and (max-width: 350px) {
    .dashboard-main-section .col-right .google-map{
        height: 100% !important;
    }
    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: 20px !important;
    }
    .dashboard-main-section .col-right .google-map .address {
        padding: 12px 20px;
    }
    .dashboard-main-section .col-right .google-map .btn a {
        font-size: 16px;
        padding: 7px 7px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 10px 15px;
    }
    .dashboard-main-section .col-right .google-map .address-btn a span {
        font-size: 12px;
    }

    .dashboard-main-section .col-left .single-box.cancel-order h2,
    .dashboard-main-section .col-left .single-box.previous-order h2 {
        margin-top: 0px;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 10px 5px !important;
    }
    .dashboard-main-section .col-left .single-box .title h2 {
        margin-top: 0px !important;
        font-size: 10px !important;
        text-align: center;
    }
    .dashboard-main-section .col-left .current-order .progress-box .progress {
        margin-top: 15px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback .my-payment h3,
    .dashboard-main-section .col-mid .my-payment-feedback .feedback h3 {
        font-size: 20px;
    }
    .dashboard-main-section .col-mid .order-cart-wish .single h2 {
        font-size: 20px;
    }
    .dashboard-main-section .col-right .customer-supporrt a h3 {
        font-size: 15px;
        line-height: 20px;
    }
    .dashboard-main-section .col-right .customer-supporrt a img {
        width: 60px;
    }
    .dashboard-main-section .col-right .log-out img {
        width: 100%;
    }
    .socket p {
        font-size: 15px;
    }
    /* Header CSS  */
    .header-section .profile img {
        height: 35px !important;
        width: 35px !important;
    }

    .header-section .nav-menu {
        position: absolute;
        top: 60px;
        right: 0;
        width: 0;
        background-color: var(--bg);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        z-index: 99;
        border: 2px solid #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
    }
    .header-section .nav-menu.active {
        width: 250px;
        visibility: visible;
        opacity: 1;
    }
    .header-section .nav-menu .navbar-nav {
        flex-direction: column !important;
        align-items: start !important;
        padding: 10px;
    }
    .header-section .nav-menu .navbar-nav li {
        width: 100%;
    }
    .header-section .nav-menu .navbar-nav li a {
        width: 100%;
        font-size: 14px;
        padding: 10px 15px;
    }
    .header-section .toggle_bar {
        display: block;
    }

    .header-section .notification ul.dropdown-menu {
        width: 270px;
        right: -111px !important;
    }

    .header-section .right-col .offcanvas {
        width: 95% !important;
    }

    /* User Address Page CSS  */
    .address .accordion .accordion-header .accordion-button {
        line-height: 20px;
        font-size: 12px;
    }
    .address .accordion .edit-btn,
    .address .accordion .dlt-btn {
        padding: 0rem 0.5rem;
    }
    .address .accordion .accordion-body {
        font-size: 12px;
    }

    /* Payment & Order Details CSS  */
    .order-info-section .order-status-row h2 {
        line-height: 18px;
        font-size: 13px;
    }
    /* Order Details  */
    .order-info-section .order-traking-row .step-1::before {
        display: none;
    }
    .order-info-section .order-traking-row .step-5::after {
        display: none;
    }
    .order-info-section .order-traking-row .icon {
        margin: 0;
    }
    .order-info-section .order-traking-row .step {
        min-height: 60px;
    }
    .order-info-section .order-traking-row .step.active::after {
        width: 5px;
        top: 25px;
        height: 30px;
        display: block;
        left: 8px;
    }

    /* =============================================
        add to cart responsive code
    ================================================*/
    .header-section .right-col .offcanvas .add_to_cart_item .item_price {
        margin-top: 4px !important;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    .header-section .right-col .offcanvas .add_to_cart_item .ben a {
        padding: 2px 7px !important;
    }
    .header-section .right-col .offcanvas .add_to_cart_item .ben {
        top: 0px !important;
        right: -2px !important;
    }
    .header-section .right-col .offcanvas .add_to_cart_item .item_price h4 {
        margin: 0px 0 0 0 !important;
        padding: 0px 0 0 0;
    }
    .header-section
        .right-col
        .offcanvas
        .add_to_cart_item
        .product_details
        .info
        .product_title
        a {
        font-size: 11px !important;
    }
    .header-section
        .right-col
        .offcanvas
        .add_to_cart_item
        .product_details
        .info
        p
        a {
        font-size: 10px !important;
    }
    /* .my-order-section .order-row .order-status .btn a,
    .order-info-section .order-status a {
        width: 100px;
        border: 1px solid #000;
        font-size: 14px;
    } */
    /* .my-order-section .order-row .order-status .btn a.cancle,
    .order-info-section .order-status a.cancle {
        border: 1px solid red;
    } */
    .my-order-section .order-row .product-info .name {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .my-order-section .order-row .order-status .total {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    /* .my-order-section .order-row .img {
        width: 100% !important;
    } */
    .my-order-section .order-status {
        width: 100% !important;
    }
    .my-order-section .order-row .order-status .btns .button {
        font-size: 14px !important;
        width: 50% !important;
        display: revert !important;
        /* border: 1px solid #000 !important; */
    }
    .my-order-section .order-row .order-status .btns .add_to_card {
        font-size: 14px !important;
        width: 50% !important;
    }
    .my-order-section .order-row .order-status .btns .add_to_card .cart-btn {
        width: 100% !important;
        display: inherit !important;
    }
    .my-order-section .order-row .product-info .cat {
        font-size: 10px !important;
    }
    .my-order-section .page-title h3 {
        font-size: 20px;
    }
    .my-order-section .order-row .order-id-row {
        padding: 10px;
    }
    .my-order-section .order-row .qty {
        font-size: 14px;
    }

    .form-section h2 {
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 10px !important;
    }
    .form-section .form-column {
        padding: 10px !important;
        width: 100% !important;
    }
    .form-section .form-column input,
    textarea {
        padding-left: 21px !important;
        border-radius: 10px !important;
        font-size: 14px !important;
    }
    .form-section .form-column .submit-button {
        font-size: 16px !important;
        max-width: 100% !important;
        padding: 0px !important;
    }
    .form-section .form-column form {
        row-gap: 14px !important;
    }
    .form-section .form-column textarea {
        height: 121px !important;
    }
    #review_wrap textarea {
        border: 1px solid !important;
    }
    .header-section .profile ul.dropdown-menu {
        right: -45px !important;
    }

    .header-section .profile ul.dropdown-menu a span {
        font-size: 14px !important;
    }
    .header-section .profile ul.dropdown-menu li a i {
        font-size: 20px !important;
    }
    .header-section .profile ul.dropdown-menu li a {
        padding: 10px;
    }
    .header-section .profile ul.dropdown-menu a img {
        width: 24px !important;
        height: 24px !important;
        margin-right: 20px !important;
    }
    .my-order-section .show-order .form-select {
        width: 100% !important;
        border-radius: 4px !important;
    }
    .my-order-section .payment_wrap .order-id-row .badge {
        position: absolute;
        top: 0px;
        right: 12px;
    }
    .my-order-section .order-id-row .status .order-status-row .badge {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .my-order-section .order-row .order-id-row .order-num {
        font-size: 14px;
        line-height: 20px;
    }
    .order-info-section .order-status-row .img {
        padding: 6px 6px;
    }
    .order-info-section .order-details p {
        font-size: 14px;
        line-height: 19px;
    }
    .order-info-section .order-info-row .right p {
        font-size: 16px;
        line-height: 24px;
    }

    .my-order-section .order-row .favorite.wishlist_item {
        position: absolute;
        top: 10px;
        right: 22px;
    }
    .dashboard-main-section .log-out {
        height: 125px !important;
    }
    
    .dashboard-main-section .col-mid .medicine-slider .carousel-control-next {
        left: 56%;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-control-prev {
        left: 44%;
    }
    .dashboard-main-section .col-left .single-box .count {
        width: 45px !important;
        height: 45px !important;
    }
    .dashboard-main-section .col-left .single-box .count-cart {
        width: 45px !important;
        height: 45px !important;
    }
    .dashboard-main-section
        .col-mid
        .medicine-slider
        .carousel-inner
        .carousel-item
        p {
        font-size: 16px !important;
    }
    .dashboard-main-section .customer-supporrt .single a .title .text-center,
    h3 {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-inner {
        height: 280px !important;
    }
    .dashboard-main-section .col-left .single-box .count-cart span {
        font-size: 16px !important;
    }
    .dashboard-main-section .col-left .single-box .count span {
        font-size: 16px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        min-height: 100% !important;
    }
    .dashboard-main-section .offer_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image {
        width: 50%;
    }
    .dashboard-main-section .tips_details {
        height: 150px !important;
        width: 50%;
        overflow: auto;
    }
    .dashboard-main-section .col-mid .tips .single-tips {
        margin-top: 0px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        min-height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow .latest-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #bfe3f8; */
    }
    .dashboard-main-section .letest-offer-shadow .tips-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #d7e3ca; */
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        margin-top: 0px;
    }
    .header-section {
        padding: 5px 0;
    }
    .header-section .logo {
        height: 50px !important;
    }
    .dashboard-main-section {
        padding-top: 15px;
    }
    .header-section .notification ul.dropdown-menu{
        top: 45px !important;
    }
    .header-section .profile ul.dropdown-menu {
        top: 50px !important;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 10px 4px !important;
    }
    .dashboard-main-section .col-left .single-box .title h2 {
        margin-top: 4px !important;
        font-size: 9px !important;
        line-height: 13px;
    }
    .dashboard-main-section .customer-supporrt a .title h3 {
        font-size: 14px;
        line-height: 17px;
    }
    .dashboard-main-section .customer-supporrt {
        overflow: hidden;
    }
    .google-map .address_details .list-unstyled li{
        font-size: 14px;
    }
    .dashboard-main-section .language-switch {
        width: 250px !important;
    }
    .my-order-section .order-row .img{
        width: 100% !important;
    }
    .my-order-section .order-row .product-info .cat {
        font-size: 10px !important;
        line-height: 12px !important;
    }
    .my-order-section .order-row .order-status .btns .button{
        padding: 0px 0px !important;
    }
    .order-info-section .order-tracking-main a{
        width: 140px !important;
        font-size: 13px;
        line-height: 14px;
        border: none !important;
    }
    .order-info-section .order-info-row .left .img{
        width: 100% !important;
    }
}



@media screen and (min-width: 350px) and (max-width: 575px) {
    .dashboard-main-section .col-right .google-map{
        height: 100% !important;
    }
    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: 20px !important;
    }
    .dashboard-main-section .col-right .google-map .address {
        padding: 12px 20px;
    }
    .dashboard-main-section .col-right .google-map .btn a {
        font-size: 16px;
        padding: 7px 7px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 10px 15px;
        margin-top: 0px;
    }
    .dashboard-main-section .col-right .google-map .address-btn a span {
        font-size: 12px;
    }
    .dashboard-main-section .language-switch {
        width: 250px !important;
    }
    .dashboard-main-section .col-left .single-box.cancel-order h2,
    .dashboard-main-section .col-left .single-box.previous-order h2 {
        margin-top: 0px;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 10px 5px !important;
    }
    .dashboard-main-section .col-left .single-box .title h2 {
        margin-top: 0px !important;
        font-size: 10px !important;
        text-align: center;
    }
    .dashboard-main-section .col-left .current-order .progress-box .progress {
        margin-top: 15px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback .my-payment h3,
    .dashboard-main-section .col-mid .my-payment-feedback .feedback h3 {
        font-size: 20px;
    }
    .dashboard-main-section .col-mid .order-cart-wish .single h2 {
        font-size: 20px;
    }
    .dashboard-main-section .col-right .customer-supporrt a h3 {
        font-size: 15px;
        line-height: 20px;
    }
    .dashboard-main-section .col-right .customer-supporrt a img {
        width: 60px;
    }
    .dashboard-main-section .col-right .log-out img {
        width: 100%;
    }
    .socket p {
        font-size: 15px;
    }
    /* Header CSS  */
    .header-section .profile img {
        height: 35px !important;
        width: 35px !important;
    }

    .header-section .nav-menu {
        position: absolute;
        top: 60px;
        right: 0;
        width: 0;
        background-color: var(--bg);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        z-index: 99;
        border: 2px solid #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
    }
    .header-section .nav-menu.active {
        width: 250px;
        visibility: visible;
        opacity: 1;
    }
    .header-section .nav-menu .navbar-nav {
        flex-direction: column !important;
        align-items: start !important;
        padding: 10px;
    }
    .header-section .nav-menu .navbar-nav li {
        width: 100%;
    }
    .header-section .nav-menu .navbar-nav li a {
        width: 100%;
        font-size: 14px;
        padding: 10px 15px;
    }
    .header-section .toggle_bar {
        display: block;
    }

    .header-section .notification ul.dropdown-menu {
        width: 310px;
        right: -105px !important;
    }

    .header-section .right-col .offcanvas {
        width: 95% !important;
    }

    /* User Address Page CSS  */
    .address .accordion .accordion-header .accordion-button {
        line-height: 20px;
        font-size: 12px;
    }
    .address .accordion .edit-btn,
    .address .accordion .dlt-btn {
        padding: 0rem 0.5rem;
    }
    .address .accordion .accordion-body {
        font-size: 12px;
    }

    /* Payment & Order Details CSS  */
    .order-info-section .order-status-row h2 {
        line-height: 18px;
        font-size: 13px;
    }
    /* Order Details  */
    .order-info-section .order-traking-row .step-1::before {
        display: none;
    }
    .order-info-section .order-traking-row .step-5::after {
        display: none;
    }
    .order-info-section .order-traking-row .icon {
        margin: 0;
    }
    .order-info-section .order-traking-row .step {
        min-height: 60px;
    }
    .order-info-section .order-traking-row .step.active::after {
        width: 5px;
        top: 25px;
        height: 30px;
        display: block;
        left: 8px;
    }
    .my-order-section .order-row .img{
        width: 100% !important;
    }
    /* =============================================
        add to cart responsive code
    ================================================*/
    .header-section .right-col .offcanvas .add_to_cart_item .item_price {
        margin-top: 4px !important;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    .header-section .right-col .offcanvas .add_to_cart_item .ben a {
        padding: 2px 7px !important;
    }
    .header-section .right-col .offcanvas .add_to_cart_item .ben {
        top: 0px !important;
        right: -2px !important;
    }
    .header-section .right-col .offcanvas .add_to_cart_item .item_price h4 {
        margin: 0px 0 0 0 !important;
        padding: 0px 0 0 0;
    }
    .header-section
        .right-col
        .offcanvas
        .add_to_cart_item
        .product_details
        .info
        .product_title
        a {
        font-size: 11px !important;
    }
    .header-section
        .right-col
        .offcanvas
        .add_to_cart_item
        .product_details
        .info
        p
        a {
        font-size: 10px !important;
    }
    /* .my-order-section .order-row .order-status .btn a,
    .order-info-section .order-status a {
        width: 100px;
        border: 1px solid #000;
        font-size: 14px;
    } */
    /* .my-order-section .order-row .order-status .btn a.cancle,
    .order-info-section .order-status a.cancle {
        border: 1px solid red;
    } */
    .my-order-section .order-row .product-info .name {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .my-order-section .order-row .order-status .total {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    /* .my-order-section .order-row .img {
        width: 100% !important;
    } */
    .my-order-section .order-status {
        width: 100% !important;
    }
    .my-order-section .order-row .order-status .btns .button {
        font-size: 14px !important;
        width: 50% !important;
        display: revert !important;
        /* border: 1px solid #000 !important; */
        padding: 0px 0px !important;
    }
    .my-order-section .order-row .order-status .btns .add_to_card {
        font-size: 14px !important;
        width: 50% !important;
    }
    .my-order-section .order-row .order-status .btns .add_to_card .cart-btn {
        width: 100% !important;
        display: inherit !important;
    }
    .my-order-section .order-row .product-info .cat {
        font-size: 10px !important;
        line-height: 12px !important;
    }

    .my-order-section .page-title h3 {
        font-size: 20px;
    }
    .my-order-section .order-row .order-id-row {
        padding: 10px;
    }
    .my-order-section .order-row .qty {
        font-size: 14px;
    }

    .form-section h2 {
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 10px !important;
    }
    .form-section .form-column {
        padding: 10px !important;
        width: 100% !important;
    }
    .form-section .form-column input,
    textarea {
        padding-left: 21px !important;
        border-radius: 10px !important;
        font-size: 14px !important;
    }
    .form-section .form-column .submit-button {
        font-size: 16px !important;
        max-width: 100% !important;
        padding: 0px !important;
    }
    .form-section .form-column form {
        row-gap: 14px !important;
    }
    .form-section .form-column textarea {
        height: 121px !important;
    }
    #review_wrap textarea {
        border: 1px solid !important;
    }
    .header-section .profile ul.dropdown-menu {
        right: -45px !important;
    }

    .header-section .profile ul.dropdown-menu a span {
        font-size: 14px !important;
    }
    .header-section .profile ul.dropdown-menu li a i {
        font-size: 20px !important;
    }
    .header-section .profile ul.dropdown-menu li a {
        padding: 10px;
    }
    .header-section .profile ul.dropdown-menu a img {
        width: 24px !important;
        height: 24px !important;
        margin-right: 20px !important;
    }
    .my-order-section .show-order .form-select {
        width: 100% !important;
        border-radius: 4px !important;
    }
    .my-order-section .payment_wrap .order-id-row .badge {
        position: absolute;
        top: 0px;
        right: 12px;
    }
    .my-order-section .order-id-row .status .order-status-row .badge {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .my-order-section .order-row .order-id-row .order-num {
        font-size: 14px;
        line-height: 20px;
    }
    .order-info-section .order-status-row .img {
        padding: 6px 6px;
    }
    .order-info-section .order-details p {
        font-size: 14px;
        line-height: 19px;
    }
    .order-info-section .order-info-row .right p {
        font-size: 16px;
        line-height: 24px;
    }

    .my-order-section .order-row .favorite.wishlist_item {
        position: absolute;
        top: 10px;
        right: 22px;
    }
    .dashboard-main-section .log-out {
        height: 125px !important;
    }
    .dashboard-main-section .language{
        height: 125px !important;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-control-next {
        left: 56%;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-control-prev {
        left: 44%;
    }
    .dashboard-main-section .col-left .single-box .count {
        width: 45px !important;
        height: 45px !important;
    }
    .dashboard-main-section .col-left .single-box .count-cart {
        width: 45px !important;
        height: 45px !important;
    }
    .dashboard-main-section
        .col-mid
        .medicine-slider
        .carousel-inner
        .carousel-item
        p {
        font-size: 16px !important;
    }
    .dashboard-main-section .customer-supporrt .single a .title .text-center,
    h3 {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-inner {
        height: 280px !important;
    }
    .dashboard-main-section .col-left .single-box .count-cart span {
        font-size: 16px !important;
    }
    .dashboard-main-section .col-left .single-box .count span {
        font-size: 16px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        min-height: 100% !important;
    }
    .dashboard-main-section .offer_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image {
        width: 50%;
    }
    .dashboard-main-section .tips_details {
        height: 150px !important;
        width: 50%;
        overflow: auto;
    }
    .dashboard-main-section .col-mid .tips .single-tips {
        margin-top: 0px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        min-height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow .latest-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #bfe3f8; */
    }
    .dashboard-main-section .letest-offer-shadow .tips-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #d7e3ca; */
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        margin-top: 0px;
    }
    .header-section {
        padding: 5px 0;
    }
    .header-section .logo {
        height: 50px !important;
    }
    .dashboard-main-section {
        padding-top: 15px;
    }
    .header-section .notification ul.dropdown-menu{
        top: 45px !important;
    }
    .header-section .profile ul.dropdown-menu {
        top: 50px !important;
    }
    .google-map .address_details .list-unstyled li{
        font-size: 14px;
    }
    .order-info-section .order-tracking-main a{
        width: 140px !important;
        font-size: 16px;
        border: none !important;
    }
    .order-info-section .order-info-row .left .img{
        width: 100% !important;
    }
}


@media screen and (min-width: 576px) and (max-width: 767px) {

    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: 20px !important;
    }
    .dashboard-main-section .col-right .google-map .address {
        padding: 12px 20px;
    }
    .dashboard-main-section .col-right .google-map .btn a {
        font-size: 16px;
        padding: 7px 7px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 16px 15px;
        margin-top: 0px;
    }
    .dashboard-main-section .col-right .google-map .address-btn a span {
        font-size: 12px;
    }
    .dashboard-main-section .col-left .single-box .count span {
        font-size: 16px !important;
    }
    .dashboard-main-section .col-left .single-box .count-cart span {
        font-size: 16px !important;
    }
    .dashboard-main-section .col-left .single-box.previous-order h2 {
        margin-top: 5px !important;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 10px 5px !important;
    }
    .dashboard-main-section .col-left .single-box .title h2 {
        margin-top: 0px !important;
        font-size: 12px !important;
    }
    .dashboard-main-section .col-left .current-order .progress-box .progress {
        margin-top: 5px;
        height: 10px;
    }
    .dashboard-main-section .col-left .current-order .title h3 {
        font-size: 18px;
    }
    .dashboard-main-section .col-left .current-order .processing {
        flex-direction: column;
    }
    .dashboard-main-section .col-left .current-order .processing .btn a {
        font-size: 11px;
        padding: 5px 20px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback .my-payment h3,
    .dashboard-main-section .col-mid .my-payment-feedback .feedback h3 {
        font-size: 20px;
    }
    .dashboard-main-section .col-mid .order-cart-wish .single h2 {
        font-size: 20px;
    }
    .dashboard-main-section .col-right .customer-supporrt a h3 {
        font-size: 20px;
        line-height: 20px;
    }
    /* .dashboard-main-section .log-out {
        height: 125px !important;
    } */
    .dashboard-main-section .col-mid .medicine-slider .carousel-control-next {
        left: 56%;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-control-prev {
        left: 44%;
    }
    /* Header CSS  */
    .header-section .profile img {
        height: 35px !important;
        width: 35px !important;
    }
    .header-section .nav-menu {
        position: absolute;
        top: 75px;
        right: 0;
        width: 0;
        background-color: var(--bg);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        z-index: 99;
        border: 2px solid #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
    }
    .header-section .nav-menu.active {
        width: 400px;
        visibility: visible;
        opacity: 1;
    }
    .header-section .nav-menu .navbar-nav {
        flex-direction: column !important;
        align-items: start !important;
        padding: 10px;
    }
    .header-section .nav-menu .navbar-nav li {
        width: 100%;
    }
    .header-section .nav-menu .navbar-nav li a {
        width: 100%;
    }
    .header-section .toggle_bar {
        display: block;
    }
    .header-section .notification ul.dropdown-menu {
        right: -80px !important;
    }

    /* Payment & Order Details CSS  */
    .order-info-section .order-status-row h2 {
        line-height: 25px;
        font-size: 14px;
    }

    /* Order Details  */
    .order-info-section .order-traking-row .step-1::before {
        display: none !important;
    }
    .order-info-section .order-traking-row .step-5::after {
        display: none !important;
    }
    .order-info-section .order-traking-row .icon {
        margin: 0;
    }
    .order-info-section .order-traking-row .step.active::after {
        width: 5px;
        top: 25px;
        height: 30px;
        display: block;
        left: 8px;
    }
    .order-info-section .order-traking-row .step {
        min-height: 60px;
    }
    /* .my-order-section .order-row .order-status .btn a,
    .order-info-section .order-status a {
        width: 100px;
        border: 1px solid #000;
        font-size: 14px;
    } */
    .order-info-section .order-tracking-main a{
        width: 140px !important;
        font-size: 16px;
        border: none !important;
    }



    /* .my-order-section .order-row .order-status .btn a.cancle,
    .order-info-section .order-status a.cancle {
        border: 1px solid red;
    } */
    .my-order-section .order-row .order-status .btns .button {
        width: 110px;
        /* border: 1px solid #000 !important; */
        font-size: 15px !important;
    }
    .my-order-section .order-status {
        width: 100% !important;
    }
    .my-order-section .page-title h3 {
        font-size: 20px;
    }
    .my-order-section .order-row .product-info .name {
        font-size: 12px;
        line-height: 16px;
    }
    .my-order-section .order-row .qty {
        font-size: 14px;
    }

    .form-section h2 {
        font-size: 29px !important;
        line-height: 32px !important;
        margin-bottom: 10px !important;
    }
    .form-section .form-column {
        padding: 30px !important;
        width: 100% !important;
    }

    .form-section .form-column input,
    textarea {
        padding-left: 21px !important;
        border-radius: 10px !important;
    }
    .form-section .form-column form {
        row-gap: 15px !important;
    }
    .form-section .form-column .submit-button {
        font-size: 16px !important;
        max-width: 100% !important;
        padding: 0px !important;
    }
    #review_wrap textarea {
        border: 1px solid !important;
    }
    .order-info-section .order-status-row p {
        padding: 3px 10px;
    }
    /* .dashboard-main-section .single-tips .tips_image img {
        height: 200px;
    } */
    .dashboard-main-section
        .col-mid
        .medicine-slider
        .carousel-inner
        .carousel-item
        p {
        font-size: 16px !important;
    }
    .dashboard-main-section .col-mid .medicine-slider .carousel-inner {
        height: 280px !important;
    }
    .dashboard-main-section .offer_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image {
        width: 50%;
    }
    .dashboard-main-section .tips_details {
        height: 150px !important;
        width: 50%;
        overflow: auto;
    }
    .dashboard-main-section #lightbox {
        height: 100% !important;
    }
    .dashboard-main-section .lightbox-content {
        height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        min-height: auto !important;
    }
    .dashboard-main-section .col-mid .tips .single-tips {
        margin-top: 0px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        min-height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow .latest-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #bfe3f8; */
    }
    .dashboard-main-section .letest-offer-shadow .tips-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #d7e3ca; */
    }
    .header-section {
        padding: 5px 0;
    }
    .dashboard-main-section {
        padding-top: 15px;
    }
    .header-section .profile ul.dropdown-menu {
        top: 57px !important;
    }
    .header-section .notification ul.dropdown-menu{
        top: 48px !important;
    }
    .google-map .address_details .list-unstyled li{
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* .dashboard-main-section .col-right .google-map{
        height: 340px !important;
    } */
    .dashboard-main-section .col-left .single-box .title h2 {
        font-size: 20px;
    }
    .dashboard-main-section .col-left .current-order .title h3 {
        font-size: 18px;
    }
    .dashboard-main-section .col-left .current-order .processing .btn a {
        font-size: 11px;
        padding: 5px 20px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: 20px !important;
    }
    .dashboard-main-section .col-right .google-map .address {
        padding: 12px 20px;
    }
    .dashboard-main-section .col-right .google-map .btn a {
        font-size: 16px;
        padding: 7px 7px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 16px 15px;
        margin-top: 0px;
    }
    .dashboard-main-section .col-right .google-map .address-btn a span {
        font-size: 12px;
    }
    .dashboard-main-section .col-left .single-box.cancel-order h2,
    .dashboard-main-section .col-left .single-box.previous-order h2 {
        margin-top: 5px;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 10px 5px;
    }
    .dashboard-main-section .col-left .single-box .title h2 {
        margin-top: 10px !important;
        font-size: 12px !important;
    }
    .dashboard-main-section .col-left .current-order .progress-box .progress {
        margin-top: 15px;
    }
    /* .dashboard-main-section .log-out {
        height: 125px !important;
    } */
    /* Header CSS  */

    .header-section .profile img {
        height: 35px !important;
        width: 35px !important;
    }

    .header-section .nav-menu {
        position: absolute;
        top: 100px;
        right: 0;
        width: 0;
        background-color: var(--bg);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        z-index: 99;
        border: 2px solid #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }
    .header-section .nav-menu.active {
        width: 400px;
        visibility: visible;
        opacity: 1;
    }
    .header-section .nav-menu .navbar-nav {
        flex-direction: column !important;
        align-items: start !important;
        padding: 20px;
    }
    .header-section .nav-menu .navbar-nav li {
        width: 100%;
    }
    .header-section .nav-menu .navbar-nav li a {
        width: 100%;
    }
    .header-section .toggle_bar {
        display: block;
    }

    /* Order Details  */
    .order-info-section .order-traking-row .step-1::before {
        right: 64%;
    }

    .order-info-section .order-traking-row .step.active::after {
        width: 72%;
        left: 64%;
    }
    .order-info-section .order-traking-row .step-5.active::after {
        left: 64%;
        width: 40%;
    }

    .form-section h2 {
        font-size: 32px !important;
        line-height: 32px !important;
        margin-bottom: 15px !important;
    }
    .form-section .form-column {
        padding: 40px !important;
    }

    .dashboard-main-section .offer_image img {
        height: 200px !important;
    }
    .dashboard-main-section .tips_image img {
        height: 200px !important;
    }
    .dashboard-main-section .tips_image {
        width: 50%;
    }
    .dashboard-main-section .tips_details {
        height: 200px !important;
        width: 50%;
        overflow: auto;
    }
    .dashboard-main-section #lightbox {
        height: 100% !important;
    }
    .dashboard-main-section .lightbox-content {
        height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        min-height: auto !important;
    }
    .dashboard-main-section .col-mid .tips .single-tips {
        margin-top: 0px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        min-height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow .latest-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #bfe3f8; */
    }
    .dashboard-main-section .letest-offer-shadow .tips-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #d7e3ca; */
    }
    .google-map .address_details .list-unstyled li{
        font-size: 12px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
    .dashboard-main-section .col-right .google-map .address {
        padding: 10px 20px;
    }
    .dashboard-main-section .col-right .map {
        height: 200px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 10px 15px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: 20px !important;
    }
    .dashboard-main-section .col-right .google-map .address {
        padding: 5px 20px;
    }
    .dashboard-main-section .col-right .google-map .btn a {
        font-size: 12px;
        padding: 5px 7px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 12px 15px;
        margin-top: 0px;
    }
    .dashboard-main-section .col-right .google-map .address-btn a span {
        font-size: 10px;
    }
    .dashboard-main-section .col-right .log-out a {
        display: inline-block;
    }
    .dashboard-main-section .col-left .current-order .title h3 {
        font-size: 18px;
    }
    .dashboard-main-section .col-left .current-order .processing .btn a {
        font-size: 11px;
        padding: 5px 20px;
    }

    /* Header CSS  */
    .header-section .profile img {
        height: 35px !important;
        width: 35px !important;
    }
    .header-section .nav-menu {
        position: absolute;
        top: 100px;
        right: 0;
        width: 0;
        background-color: var(--bg);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        z-index: 99;
        border: 2px solid #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        overflow-x: hidden;
    }
    .header-section .nav-menu.active {
        width: 400px;
        visibility: visible;
        opacity: 1;
    }
    .header-section .nav-menu .navbar-nav {
        flex-direction: column !important;
        align-items: start !important;
        padding: 20px;
    }
    .header-section .nav-menu .navbar-nav li {
        width: 100%;
    }
    .header-section .nav-menu .navbar-nav li a {
        width: 100%;
    }
    .header-section .toggle_bar {
        display: block;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 22px 10px;
    }
    .dashboard-main-section .offer_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image {
        width: 50%;
    }
    .dashboard-main-section .tips_details {
        height: 150px !important;
        width: 50%;
        overflow: auto;
    }
    .dashboard-main-section .letest-offer-shadow {
        min-height: 100% !important;
    }
    .dashboard-main-section .col-mid .tips .single-tips {
        margin-top: 0px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        min-height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow .latest-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #bfe3f8; */
    }
    .dashboard-main-section .letest-offer-shadow .tips-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #d7e3ca; */
    }
    .google-map .address_details .list-unstyled li{
        font-size: 12px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    /* Header CSS  */
    .header-section .nav-menu ul li a {
        font-size: 15px;
    }

    .header-section .name a {
        font-size: 15px;
    }
    .header-section .right-col img,
    .header-section .notification img {
        width: 20px;
    }

    .header-section .profile img {
        height: 40px !important;
        width: 40px !important;
    }

    .header-section .nav-menu ul li a {
        font-size: 15px;
        padding: 10px 15px;
    }

    /* Dashboard CSS  */
    .dashboard-main-section .col-right .google-map .address {
        padding: 10px 20px;
    }
    .dashboard-main-section .col-right .map {
        height: 200px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 10px 15px;
        margin-top: 0px;
    }
    h2 {
        font-size: 20px;
    }
    .dashboard-main-section .col-mid .order-cart-wish .single h2 {
        font-size: 25px;
    }
    .dashboard-main-section .col-left .current-order .title h3 {
        font-size: 18px;
    }
    .dashboard-main-section .col-left .current-order .processing .btn a {
        font-size: 11px;
        padding: 5px 20px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: 20px !important;
    }
    .dashboard-main-section .offer_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image img {
        height: 150px !important;
    }
    .dashboard-main-section .tips_image {
        width: 50%;
    }
    .dashboard-main-section .tips_details {
        height: 150px !important;
        width: 50%;
        overflow: auto;
    }
    .dashboard-main-section .col-mid .tips .single-tips {
        margin-top: 0px !important;
    }
    .dashboard-main-section .letest-offer-shadow {
        box-shadow: none !important;
        background: transparent !important;
        padding: 0px !important;
        min-height: 100% !important;
    }
    .dashboard-main-section .letest-offer-shadow .latest-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        /* background: #bfe3f8; */
    }
    .dashboard-main-section .letest-offer-shadow .tips-col {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        padding: 10px !important;
        border-radius: 10px;
        height: 170px;
    }
    .google-map .address_details .list-unstyled li{
        font-size: 12px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .dashboard-main-section .col-mid .order-cart-wish .single {
        height: 130px;
    }
    .dashboard-main-section .col-mid .my-payment-feedback {
        margin-top: -165px !important;
    }
    .dashboard-main-section .col-mid .order-cart-wish .single h2 {
        font-size: 18px;
        margin-top: 4px;
    }
    h2 {
        font-size: 20px;
    }

    .dashboard-main-section .col-right .google-map .address {
        padding: 5px 20px;
    }
    .dashboard-main-section .col-right .google-map .btn a {
        font-size: 12px;
        padding: 5px 7px;
    }
    .dashboard-main-section .col-right .google-map .address-btn {
        padding: 12px 15px;
        margin-top: 0px;
    }
    .dashboard-main-section .col-right .google-map .address-btn a span {
        font-size: 10px;
    }
    .dashboard-main-section .col-right .log-out a {
        display: inline-block;
        margin-top: 30px;
    }
    .dashboard-main-section .col-left .single-box {
        padding: 26px 5px;
    }
    .google-map .address_details .list-unstyled li{
        font-size: 12px;
    }
}
@media screen and (min-width: 1440px) {
}
