
/*====== Global color varriable ====== */
:root{
    --primary: #DEEBCF;
    --secondery: #C2E7FC;
    --bg: #EEEEEE;
    --text: #000;
    --btn_bg: #2581B8;
    --white: #fff;



    --nav-primary-bg: #00204B;
    --nav-primary-color: #00204B;
    --nav-text-color: #ffffff;
    --input-border-color: #ffffff;
    --nav-asent-color: #28A349;
    --nav-text-gray: #7d879c;
    --nav-bg-gray: #7d879c;
    --nav-secondary-bg: #2D98DA;
    --nav-secondary-color: #2D98DA;
}


/*====== Global font size varriable ====== */
:root{
    --primary_heading_size: 24px;
    --text_size: 20px;

    --secondary-bg:rgba(247, 247, 247, 1);
    --primary-bg: #00204B;
    --white-bg: #fff;
    --bg-color-gray: #7d879c;
    --info-bg: #072365;
    --primary-color: #00204B;
    --secundary-color: #28A349;
    --asent-color: #28A349;
    --text-color-black: #373f50;
    --text-color-white: #fff;
    --text-color-gray: #7d879c;
    --text-color-red: #ff0000;
    --text-secondary-color: #2D98DA;
    --text-black: #000;

    --primary-background-color: #85FFBD;
    --primary-background-image: linear-gradient(45deg, #85FFBD 40%, #2D98DA 60%);
    --border-1: #2D98DA;
    --border-2: #28A349;

    --secondry-font: "Poppins", sans-serif;
}

/* Global Paddings */
:root{
    --pad-1: 1rem 1rem;
}

/* .btn{
    padding: 0;
    border: none;
} */
/*======== Global Typograpy ======*/
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  p,h1,h2,h3,h4,h5,h6,ul{
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
  }
body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1440px;
    padding: 0 30px;
}


/* Order Details CSS */
/*======== This code only for the oder information page ========*/
.order-info-section .order-info-cont{
    max-width: 1214px;
    margin: 0 auto;
}
.order-info-section .order-status-row .img{
    background:#BFE6FA;
    border-radius: 4px;
    padding: 10px 12px;
}
.order-info-section .order-status-row h2{
    font-family: var(--secondry-font);
    line-height: 36px;
    font-weight: 400;
}
.order-info-section .order-status-row p{
    font-family: var(--secondry-font);
    font: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #0BACFF;
    background:#BFE6FA;
    border-radius: 4px;
    padding: 3px 16px;
}
.order-info-section .order-details span{
    font-family: var(--secondry-font);
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.order-info-section .order-details p{
    font-family: var(--secondry-font);
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--text);
}
.order-info-section .order-info-row .left,
.order-info-section .order-info-row .right{
    height: 375px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 30px;
    background-color: var(--secondary-bg);
}
.order-info-section .order-info-row .left{
    overflow-y: auto;
}
.order-info-section .order-info-row .left::-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: var(--primary-bg);
  }

  .order-info-section .order-info-row .left::-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .order-info-section .order-info-row .left::-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--asent-color);
    background-image: linear-gradient(90deg,
                                    transparent,
                                    var(--asent-color) 50%,
                                    transparent,
                                    transparent);
  }

  .order-info-section .order-info-row .left::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
      border-radius: 10px;
      background-color: var(--primary-bg);
  }

  .order-info-section .order-info-row .left::-webkit-scrollbar
  {
      width: 6px;
      background-color: #F5F5F5;
  }

  .order-info-section .order-info-row .left::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-color: var(--asent-color);
      background-image: -webkit-linear-gradient(90deg,
                                              transparent,
                                              var(--asent-color) 50%,
                                              transparent,
                                              transparent)
  }
.order-info-section .order-info-row .left .row{
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
}
.order-info-section .order-info-row .left .row:last-child{
    border: none;
}
.order-info-section .order-info-row .left .img{
    width: 86px;
}
.order-info-section .order-info-row .left .img img{
    width: 100%;
}
.order-info-section .order-info-row .left h5{
    font-family: var(--secondry-font);
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: var(--text);
}
.order-info-section .order-info-row .left p{
    font-family: var(--secondry-font);
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.order-info-section .order-info-row .left .qt span{
    font-weight: 500;
    color: var(--text);
}

.order-info-section .order-info-row .right h5{
    font-family: var(--secondry-font);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}
.order-info-section .order-info-row .right p{
    font-family: var(--secondry-font);
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--text);
    min-width: 80px;
}
.order-info-section .order-info-row .right div:last-child p{
    font-weight: 700;
}
.order-info-section .order-info-row .right div.total-border{
    border-bottom: 2px solid;
    border-color: rgba(0, 0, 0, 0.54);
}
.order-info-section .payment-info-row .wrap{
    height: auto;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 30px;
}

.order-info-section .payment-info-row .wrap .table{
    text-align: center;
}
.order-info-section .order-info-row .title,
.order-info-section .payment-info-row .title{
    font-family: var(--secondry-font);
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--text);
}
.order-info-section .order-traking-row .icon{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    position: relative;
}
.order-info-section .order-traking-row .confirm{
    background-color: rgba(40, 163, 73, 1);
}
.order-info-section .order-traking-row .step{
    min-width: 123px;
}
.order-info-section .order-traking-row .step-1 .icon::before{
    position: absolute;
    content: "";
    width: 48px;
    height: 5px;
    background-color: rgba(40, 163, 73, 1);
    left: -55px;
}
.order-info-section .order-traking-row .step .icon::after{
    position: absolute;
    content: "";
    width: 233px;
    height: 5px;
    background-color: rgba(40, 163, 73, 1);
    right: -240px;
}
.order-info-section .order-traking-row .step-5 .icon::after{
    width: 48px;
    right: -55px;
}
.order-info-section .order-traking-row .step h5{
    font-family: var(--secondry-font);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text);
}
.order-info-section .order-traking-row .step h5{
    font-family: var(--secondry-font);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 0;
}
.order-info-section .order-traking-row .step p{
    color: rgba(0, 0, 0, 0.58);
}
.order-info-section .order-traking-row .progress-box{
    background: var(--secondary-bg);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 30px;
    padding-top: 35px;
}
.order-info-section .title{
    font-family: var(--secondry-font);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: var(--text);
}


/* Cart CSS */

.header-section .right-col .cart-icon {
    display: block;
  }
.header-section .right-col .cart-icon #cart_btn_quantity{
    color: var(--asent-color);
    font-size: 15px;
  }
.header-section .right-col .offcanvas {
    width: 600px;

  }
  .header-section .right-col .offcanvas .offcanvas-header .cart_clear_btn{
    color: var(--nav-secondary-color);
  }

  .header-section .right-col .offcanvas .add_to_carts .cart_empty_alert {
    color: var(--nav-text-gray);

  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details {
    position: relative;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .check_order{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .image img {
    height: 60px;
    object-fit: cover;
    width: 100%;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info{
    z-index: 9;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info .product_title {
      font-family: "Rubik", sans-serif;
      margin-bottom: .4rem;
      line-height: 12px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info .product_title a{
      font-size: 14px;
      color: var(--text-color-black);
      transition:.4s;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info .product_title a:hover{
      color: var(--asent-color);
  }
  /* .header-section .right-col .offcanvas .add_to_cart_item .product_details .info p{
    line-height: .9rem;
  } */
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info p a{
      font-family: "Rubik", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      color: var(--text-color-gray);
      display: block;
      padding: 0px;
      margin: 0px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .item_quantity{
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .item_quantity:focus{
    outline: 0;
    box-shadow: none;
    border-color: var(--nav-asent-color);
  }
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .minus_btn,
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .plus_btn{
    background-color: var(--nav-asent-color);
    color: var(--nav-text-color);
    line-height: 2;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .ben{
    position: absolute;
    top: 12px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .ben a{
      padding:7px 14px;
      border-radius: 5px;
      border: 1px solid var(--nav-text-gray);
      transition: .4s;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .ben a:hover{
      border: 1px solid red;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .item_price{
    margin-top: 40px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .item_price h4{
    color: var(--nav-asent-color);
    font-size: 1rem;
    padding: 4px 0 0 0;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .boxed label {
      display: inline-block;
      width: 50px;
      border: solid 2px #ccc;
      transition: all 0.3s;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .boxed input[type="radio"] {
      display: none;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .boxed input[type="radio"]:checked+label {
      border: solid 2px green;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .boxed img {
      height: 45px;
      width: 45px;
      padding: 3px;
      object-fit: contain;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group {
    display: block;
    margin-bottom: 15px;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group label {
    position: relative;
    cursor: pointer;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group label:before {
    content:'';
    background-color: transparent;
    border: 2px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group input:checked + label:before {
    border-color: var(--nav-asent-color);
    border-radius: 50%;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 8px;
    width: 5px;
    height: 11px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }


  .header-section .right-col .offcanvas .cart_sub_total {
    width: 100%;
    background-color: var(--nav-primary-bg);
    opacity: .9;
  }
  .header-section .right-col .offcanvas .cart_sub_total h3 {
    color: var(--nav-text-color);
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .header-section .right-col .offcanvas .cart_sub_total .order_button {
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color-white);
    background: var(--secundary-color);
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--asent-color);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    transition: 0.4s;
  }
  .header-section .right-col .offcanvas .cart_sub_total .order_button:hover {
    color: var(--text-color-white);
    background: transparent;
    border: 1px solid var(--text-color-white);
  }
