.error-card {
    min-height: 100vh;
}

.error-card .card {
    max-width: 400px;
    margin: 0 auto;
}

.error-card .btn-primary {
    background-color: var(--btn-bg-color);
    border-color: var(--border-1);
}

.error-card .btn-primary:hover {
    background-color: var(--btn-bg-color);
    border-color: var(--border-1);
}
