/*=========== Header Nav css ==========*/
header{
  position: sticky;
  top: 0;
  z-index: 99999;
}
.header-section {
    padding: 15px 0;
    background: var(--nav-primary-bg);
    animation: fadeIndown 1.5s ease-in-out;
    width: 100%;
  }
  .header-section .search-filter input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    border-radius: 10px 0 0 10px;
  }
  .header-section .search-filter input[type=text]::placeholder{
    color: rgba(255, 255, 255, 70%);
    font-weight: 500;
  }
  .header-section .search-filter select {
    border: none;
    outline: none;
    color: var(--nav-text-color);
    background: transparent;
    border: 2px solid #fff;
    border-left: 0;
    padding: 6px 12px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }
  .header-section .search-filter select option {
    background: var(--nav-primary-bg);
    margin-bottom: 2px;
  }
  .header-section .search-filter .sub-btn {
    border: none;
    outline: none;
    color: var(--nav-text-color);
    background: transparent;
    padding: 6px;
    border-radius: 0px 10px 11px 0;
  }
  .header-section .right-col .item{
    width: inherit;
  }
  .header-section .right-col .cart-btn, 
  .header-section .right-col .wish-btn {
    background: transparent;
    border: none;
    color: var(--nav-text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    transition: 0.4s;
  }
  .header-section .right-col button #cart_btn_quantity{
    font-size: 15px;
    transition: 0.4s;
    color: var(--nav-asent-color);
  }
  .header-section .right-col button:hover {
    color: var(--nav-asent-color);
  }
  .header-section .right-col button:hover #cart_btn_quantity{
    color: var(--nav-text-color);
  }
  /* Add To Cart CSS  */
  
  .header-section .right-col .login-btn {
    color: var(--nav-text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
  }
  .header-section .right-col .login-btn:hover {
    color: var(--nav-asent-color);
  }
  .header-section .right-col select {
    background: transparent;
    border: none;
    color: var(--nav-text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
  }
  .header-section .right-col select option {
    background: var(--nav-primary-bg);
    
  }
  .header-section .right-col .offcanvas {
    width: 600px;
    z-index: 999999;
  }
  .header-section .right-col .offcanvas .offcanvas-header .cart_clear_btn{
    color: var(--nav-secondary-color);
  }

  .header-section .right-col .offcanvas .add_to_carts .cart_empty_alert {
    color: var(--nav-text-gray);
    
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details {
    position: relative;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .check_order{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .image img {
    /* height: 60px; */
    object-fit: cover;
    width: 100%;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info{
    z-index: 9;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info .product_title {
      font-family: "Rubik", sans-serif;
      margin-bottom: .4rem;
      line-height: 12px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info .product_title a{
      font-size: 14px;
      color: var(--text-color-black);
      transition:.4s;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info .product_title a:hover{
      color: var(--asent-color);
  }
  /* .header-section .right-col .offcanvas .add_to_cart_item .product_details .info p{
    line-height: .9rem;
  } */
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .info p a{
      font-family: "Rubik", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      color: var(--text-color-gray);
      display: block;
      padding: 0px;
      margin: 0px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .item_quantity{
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .item_quantity:focus{
    outline: 0;
    box-shadow: none;
    border-color: var(--nav-asent-color);
  }
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .minus_btn,
  .header-section .right-col .offcanvas .add_to_cart_item .atc_functionality .plus_minus .plus_btn{
    background-color: var(--nav-asent-color);
    color: var(--nav-text-color);
    line-height: 2;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .ben{
    position: absolute;
    top: 12px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .ben a{
      padding:7px 14px;
      border-radius: 5px;
      border: 1px solid var(--nav-text-gray);
      transition: .4s;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .ben a:hover{
      border: 1px solid red;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .item_price{
    margin-top: 40px;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .item_price h4{
    color: var(--nav-asent-color);
    font-size: 1rem;
    padding: 4px 0 0 0;
    margin: 0px;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .boxed label {
      display: inline-block;
      width: 50px;
      border: solid 2px #ccc;
      transition: all 0.3s;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .boxed input[type="radio"] {
      display: none;
  }

  .header-section .right-col .offcanvas .add_to_cart_item .boxed input[type="radio"]:checked+label {
      border: solid 2px green;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .boxed img {
      height: 45px;
      width: 45px;
      padding: 3px;
      object-fit: contain;
  }
  
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group label:before {
    content:'';
    background-color: transparent;
    border: 2px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group input:checked + label:before {
    border-color: var(--nav-asent-color);
    border-radius: 50%;
  }
  
  .header-section .right-col .offcanvas .add_to_cart_item .product_details .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 8px;
    width: 5px;
    height: 11px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }


  .header-section .right-col .offcanvas .cart_sub_total {
    width: 100%;
    background-color: var(--nav-primary-bg);
    opacity: .9;
  }
  .header-section .right-col .offcanvas .cart_sub_total h3 {
    color: var(--nav-text-color);
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .header-section .right-col .offcanvas .cart_sub_total .order_button {
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color-white);
    background: var(--secundary-color);
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--asent-color);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    transition: 0.4s;
  }
  .header-section .right-col .offcanvas .cart_sub_total .order_button:hover {
    color: var(--text-color-white);
    background: transparent;
    border: 1px solid var(--text-color-white);
  }
  .header-section .search-filter{
    position: relative;
  }
  .header-section .search-filter .suggestion-box{
    background: var(--nav-text-color);
    position: absolute;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 2px;
    display: none;
    z-index: 999;
    height: 400px;
    overflow-y: auto;
    background-color: #F5F5F5;
  }

  .header-section .search-filter .suggestion-box::-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: var(--primary-bg);
  }
  
  .header-section .search-filter .suggestion-box::-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  
  .header-section .search-filter .suggestion-box::-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secundary-color);
    background-image: linear-gradient(90deg,
                                    transparent,
                                    var(--secundary-color) 50%,
                                    transparent,
                                    transparent);
  }
  
  
  
  .header-section .search-filter .suggestion-box::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
      border-radius: 10px;
      background-color: var(--primary-bg);
  }
  
  .header-section .search-filter .suggestion-box::-webkit-scrollbar
  {
      width: 6px;
      background-color: #F5F5F5;
  }
  
  .header-section .search-filter .suggestion-box::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-color: var(--secundary-color);
      background-image: -webkit-linear-gradient(90deg,
                                              transparent,
                                              var(--secundary-color) 50%,
                                              transparent,
                                              transparent)
  }



  /* Wish List CSS  */
  .header-section .right-col .offcanvas .wishes .wish_empty_alert {
    color: var(--nav-text-gray);
    
  }
  .header-section .right-col .offcanvas .wishes .product_details {
    position: relative;
  }
  .header-section .right-col .offcanvas .wishes .product_details .image img {
    height: 60px;
    object-fit: cover;
    width: 100%;
  }
  .header-section .right-col .offcanvas .wishes .product_details .info{
    z-index: 9;
  }
  .header-section .right-col .offcanvas .wishes .product_details .info .product_title {
      font-family: "Rubik", sans-serif;
      margin-bottom: .4rem;
      line-height: 12px;
  }
  .header-section .right-col .offcanvas .wishes .product_details .info .product_title a{
      font-size: 14px;
      color: var(--text-color-black);
      transition:.4s;
  }
  .header-section .right-col .offcanvas .wishes .product_details .info .product_title a:hover{
      color: var(--asent-color);
  }
  .header-section .right-col .offcanvas .wishes .product_details .info p a{
      font-family: "Rubik", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      color: var(--text-color-gray);
      display: block;
      padding: 0px;
      margin: 0px;
  }

  .header-section .right-col .offcanvas .wishes .details .price {
    color: var(--nav-asent-color);
    font-size: .9rem;
    padding: 0;
    margin: 0;
  }
  .header-section .right-col .offcanvas .wishes .details .wish_remove_btn{
    font-size: 15px;
    border: 1px solid var(--nav-text-gray);
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    transition: .4s;
  }
  .header-section .right-col .offcanvas .wishes .details .wish_remove_btn:hover{
    border: 1px solid red;
  }

  .header-section .right-col .offcanvas .wishes .details .details_btn, 
  .header-section .right-col .offcanvas .wishes .details .order_btn {
    font-size: 11px;
    border: 1px solid var(--border-2);
    display: block;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    color: var(--nav-asent-color);
    transition: .4s;
  }
  .header-section .right-col .offcanvas .wishes .details .order_btn {
    background-color: var(--nav-asent-color);
    color: var(--nav-text-color);
    width: 100%;
  }
  .header-section .right-col .offcanvas .wishes .details .details_btn:hover{
    background-color: var(--nav-asent-color);
    color: var(--nav-text-color);
  }
  .header-section .right-col .offcanvas .wishes .details .order_btn:hover {
    background-color: transparent;
    color: var(--nav-asent-color);
  }
  /* New CSS  */
  .header-section .suggestion-box .search_item{
    transition: .4s;
  }
  .header-section .suggestion-box .search_item .image img{
    /* height: 75px; */
    object-fit: cover;
  }
  .header-section .suggestion-box .search_item .details .product_title {
    font-size: 17px;
    color: var(--text-color-black);
  }
  .header-section .suggestion-box .search_item .details p {
    color: var(--text-color-black);
    font-size: .7rem;
    line-height: .25rem;
  }
  .header-section .suggestion-box .search_item .details .product_sub_cat {
    font-size: 1rem;
    color: #959595;
  }
 
  .header-section .suggestion-box .search_item:hover{
      --tw-bg-opacity: 1;
      background-color: rgb(243 246 249/var(--tw-bg-opacity));
  }

  .header-section .main-header .right-col .login-btn img{
    height: 35px; 
    width: 35px; 
    object-fit: cover; 
    border-radius: 50%
  }

  #cartbtn .form-group .minus_btn{
    border-radius: 15px 0px 0px 15px;
  }
  #cartbtn .form-group .plus_btn{
    border-radius: 0px 15px 15px 0px;
  }