.product_content .product_price .quantity_input {
    border-style: solid;
    border-width: 1px 0;
    border-color: var(--border-1);
    outline: none;
}

.product_content .product_price .quantity_input:focus {
    border-color: #79b241;
}

.product_content .product_price .boxed label {
    display: inline-block;
    width: 60px;
    padding: 7px;
    border: solid 2px #ccc;
    transition: all 0.3s;
}

.product_content .product_price .boxed input[type="radio"] {
    display: none;
}

.product_content .product_price .boxed input[type="radio"]:checked + label {
    border: solid 2px green;
}

.product_content .product_price .boxed img {
    height: 40px;
    width: 100%;
    object-fit: contain;
}

.product_content .sp_quantity a {
    background: var(--btn-bg-color);
    color: var(--nav-text-color);
    line-height: 2;
    display: inline-block !important;
}

.product_content .sp_quantity .plus_qty {
    border-radius: 0px 20px 20px 0px !important;
}

.product_content .sp_quantity .minus_qty {
    border-radius: 20px 0px 0px 20px !important;
}

.product_content .sp_quantity .quantity_input:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
}

.product_content .sp_quantity .minus_qty.disabled {
    border-color: transparent;
}

.single_product_section .similar_products_card .similar_products .single-item {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-1);
    margin-bottom: 10px;
}

.single_product_section .lead{
    background-color: rgb(43 124 180 / 0.1);
    padding: 1rem;
    border-radius: 5px;
}

.single_product_section .lead p{
    font-weight: 800;
    color:  var(--text-secondary-color) !important;
    font-size: 16px !important;
    line-height: 1.5rem;
}

.single_product .upload_prescription .upload_prescription_btn{
    background-color: var(--btn-bg-color);
    color: var(--nav-text-color);
    border-radius: 5px;
    padding: 5px 10px;
}
