.product_content .product_price .boxed label {
    display: inline-block;
    width: 60px;
    padding: 7px;
    border: solid 2px #ccc;
    transition: all 0.3s;
}

.product_content .product_price .boxed input[type="radio"] {
    display: none;
}

.product_content .product_price .boxed input[type="radio"]:checked+label {
    border: solid 2px green;
}

.product_content .product_price .boxed img {
    height: 40px;
    width: 100%;
    object-fit: cover;
}
.product_content .sp_quantity .minus_qty,
.product_content .sp_quantity .plus_qty{
    background-color: var(--nav-asent-color);
    color: var(--nav-text-color);
    line-height: 2;
}

.product_content .sp_quantity .quantity_input:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
}
.product_content .sp_quantity .minus_qty.disabled {
    border-color: transparent;
}