.brand-link .brand-image {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 45px;
    width: 100%;
    object-fit: cover;
}

/*=============================================================
                Site Settings CSS
 =============================================================*/
 .site_settings .tab {

    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    min-height: 80vh;
}

.site_settings .tab button {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    color: rgba(34, 42, 66, 0.7);
    text-transform: uppercase;
}

.site_settings .tab button:hover {
    background-color: #ddd;
}

.site_settings .tabcontent {
    border-radius: 0 5px 5px 0;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;
    min-height: 80vh;
}

@media only screen and (max-width: 767px) {
    .site_settings .tab button {
        width: auto !important;
        font-size: .6em;
    }

    .site_settings .tab {
        min-height: auto !important;
    }

    .site_settings .tabcontent {
        min-height: auto !important;
    }
}

:root {
    --primary-color: #0093E9;
    --primary-bg-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% );
    /* background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% ); */
    

    

  }
.sidebar {
    background-color:var(--primary-color) !important; ;
    background-image:var(--primary-bg-image) !important; ;
}

/* .main-panel {
    background-color:var(--primary-color) !important; ;
    background-image:var(--primary-bg-image) !important; ;
} */

.btn-primary {
    background-color:var(--primary-color) !important; ;
    background-image:var(--primary-bg-image) !important; ;
}
/*=============================================================
                Site Settings CSS
 =============================================================*/

