/*=============================================================
                Start Overwrite CSS
 =============================================================*/

:root {
    --primary-color: #0093E9;
    --primary-bg-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgb(4, 56, 115) 91.6% );
    --secondary-color: #043873;
    --secondary-bg-image: linear-gradient( 288deg, rgba(4,56,115,1) 1.5%, rgba(0,85,255,1) 91.6% );

    --btn-bg-color: #263148;
    --btn-bg-image: linear-gradient(to bottom left, #344675, #263148, #344675) !important;
}
body{
    overflow-x: hidden;
}

.brand-link .brand-image {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 45px;
    width: 100%;
    object-fit: cover;
}

.sidebar {
    background-color:var(--primary-color) !important;
    background-image:var(--primary-bg-image) !important;
}

.btn:not([data-action]):hover{
    background-color:var(--secondary-color) !important;
    background-image:var(--secondary-bg-image) !important;
}

.white-content .footer .copyright a{
    color:var(--primary-color) !important;
}

.white-content .footer .copyright a:hover{
    color:var(--secondary-color) !important;
}

.main-panel {
    border-top: 2px solid var(--primary-color) !important;
    /* background-color:var(--primary-color) !important; */
    /* background-image:var(--primary-bg-image) !important; */
}

.btn-primary {
    background:var(--primary-color) !important;
    background-image:var(--primary-bg-image) !important;
}

.form-control:focus {
    border-color: var(--primary-color) !important;
}

.form-group input[type=file] {
    height: auto !important;
}

.form-check input[type="checkbox"]:checked+.form-check-sign::before, .form-check input[type="checkbox"]:checked+.form-check-sign::before {
    background-color: var(--primary-color) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover {
    background:var(--primary-color) !important;
    background-image:var(--primary-bg-image) !important;
}

.white-content .btn:not([data-action]):hover {
    box-shadow: none !important;
}

.btn:not([data-action]):hover, .navbar .navbar-nav>a.btn:not([data-action]):hover {
    box-shadow: none !important;
    transform: none !important;
    -webkit-transform: none !important;
}

/* Circle  */
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

/* Squer */
.toggle.android {
    border-radius: 0px;
}

.toggle.android .toggle-handle {
    border-radius: 0px;
}

textarea.form-control {
    min-height: 20vh !important;
}

/*=============================================================
                End Overwrite CSS
 =============================================================*/

/*=============================================================
                Start DM Profile CSS
 =============================================================*/

 .profile-section .profile_image .camera-icon {
    position: absolute;
    bottom: -10%;
    font-size: 15px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid var(--primary-color);
}

.profile-section .profile_image .img,
.profile-section .profile_image .overly {
    height: 215px;
    width: 215px;
    border: 5px solid #2b3553;
    border-bottom-color: transparent;
    position: relative;
}

.profile-section .profile_image .overly::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: .5;
    transition: .4s;
    z-index: 99;
}

.div_animation {
    animation: round 5s linear infinite;
}

.image_animation {
    animation: rounds 5s linear infinite reverse;
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rounds {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*=============================================================
                End DM Profile CSS
 =============================================================*/

/*=============================================================
                Start Site Settings CSS
 =============================================================*/
 .site_settings .tab {
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    min-height: 80vh;
}

.site_settings .tab button {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    color: rgba(34, 42, 66, 0.7);
    text-transform: uppercase;
}

.site_settings .tab button:hover {
    background-color: #ddd;
}

.site_settings .tabcontent {
    border-radius: 0 5px 5px 0;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;
    min-height: 80vh;
}

@media only screen and (max-width: 767px) {
    .site_settings .tab button {
        width: auto !important;
        font-size: .6em;
    }

    .site_settings .tab {
        min-height: auto !important;
    }

    .site_settings .tabcontent {
        min-height: auto !important;
    }
}

/*=============================================================
                End Site Settings CSS
 =============================================================*/
/*=============================================================
                Start Select2 CSS
 =============================================================*/

 /* Select 2 */
/* .select2 {
    width: 100% !important;
} */

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height: calc(2.25rem + 2px) !important;
}

.select2-container--default .select2-selection--single ,
.select2-container--default .select2-selection--multiple {
    border-color: rgba(29, 37, 59, 0.5) !important;
    border-radius: 0.4285rem !important;
}

.select2-container--default .select2-selection--single ,
.select2-container--default .select2-selection--multiple {
    display: flex !important;
    align-items: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow ,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    top: 16% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered ,
.select2-container .select2-selection--multiple .select2-selection__rendered {
    margin: 0;
}

/*=============================================================
                End Select2 CSS
 =============================================================*/
/*=============================================================
                Start Image Upload CSS
 =============================================================*/
.imagePreviewMainDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.imagePreviewDiv {
    position: relative;
    margin: .3rem;
}

.imagePreview {
    object-fit: cover;
    width: auto;
    height: 6rem;
}

.removeImage {
    position: absolute;
    left: 88%;
    top: 10%;
    cursor: pointer;
}

/*=============================================================
                End Image Upload CSS
 =============================================================*/

/*=============================================================
                Start Product Management CSS
 =============================================================*/

 .medicine_price_card .bdt_button{
        background: var( --primary-color );
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: #fff;
 }

/*=============================================================
                End Product Management CSS
 =============================================================*/

 .badge.badge-secondary{
    color: #000;
 }

 /*=============================================================
                Earning CSS
 =============================================================*/
 .earning .wrap{
    min-height: 91vh;
 }
 .earning .box {
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
    border-color: rgba(0, 0, 0, 0.3);
}
 .earning .amount .my_amount {
    font-size: 30px;
    font-weight: 900;
    margin: 15px 0;
    font-family: auto;
}
 .earning .myTab.active {
    color: var(--primary-color) !important;
    border: 0;
    border-bottom: 1px solid var(--primary) !important;
    background: transparent !important;
}
 .earning .drp-buttons .cancelBtn.btn {
    background: var(--bs-btn-bg) !important;
}
 .form-group > .select2-container {
    width: 100% !important;
 }



  /*=============================================================
                Admin > Profiles CSS
 =============================================================*/
 .profile #nav-tabContent .tab-pane {
    display: none;
}

.profile #nav-tabContent .tab-pane.active {
    display: block;
}

 .profile .card-user {
    font-family: 'sans-serif';
}

.profile .card-user .contact_info {
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.profile .card-user .contact_info ul li {
    color: #00000086;
}

.profile .card-user .contact_info ul li .title,
.profile .card-user .contact_info ul li i {
    color: #000000ab;
}

.profile .card-user .earning_info {
    /* background: linear-gradient(to right, rgba(225, 78, 202, 0.6) 0%, rgba(225, 78, 202, 0) 100%); */
    font-family: auto;
}

.profile .card-user .earning_info .title {
    font-size: 13px;
    color: #00000086;
}

.profile .card-user .earning_info .amount {
    font-weight: 900;
    font-size: 15px;
}

.profile .card-user .earning_info .card {
    border-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.profile .card-user .card-body {
    min-height: auto;
}

.profile .card-user .bio {
    color: #00000086 !important;
    line-height: 18px;
}

.profile .nav .nav-link {
    color: #00000086;
}

.profile .nav .nav-link.active {
    color: #000;
}

.profile .earning .box {
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
    border-color: rgba(0, 0, 0, 0.3);
}
