
.order_details_wrap p {
    font-size: 14px;
    margin-bottom: 7px;
}

.order_details_wrap .small {
    letter-spacing: 0.5px !important;
}

.order_details_wrap .card-1 {
    box-shadow: 2px 2px 10px 0px rgb(190, 108, 170);
}

.order_details_wrap hr {
    background-color: rgba(248, 248, 248, 0.667);
}

.order_details_wrap .bold {
    font-weight: 500;
}

.order_details_wrap .change-color {
    color: #AB47BC !important;
}

.order_details_wrap .card-2 {
    box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
}

.order_details_wrap .fa-circle.active {
    font-size: 8px;
    color: #AB47BC;
}

.order_details_wrap .fa-circle {
    font-size: 8px;
    color: #aaa;
}

.order_details_wrap .rounded {
    border-radius: 2.25rem !important;
}

.order_details_wrap .invoice {
    position: relative;
    top: -70px;
}

.order_details_wrap .Glasses {
    position: relative;
    top: -12px !important;
}

.order_details_wrap .card-footer {
    background-color: #0093E9;
    background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgb(4, 56, 115) 91.6% );
}

.order_details_wrap .card-footer h2,
.order_details_wrap .card-footer h1{
    color: #fff;
    font-size: 30px;
}

.order_details_wrap h2 {
    color: rgb(78, 0, 92);
    letter-spacing: 2px !important;
}

.order_details_wrap .display-3 {
    font-weight: 500 !important;
}

@media (max-width: 479px) {
    .order_details_wrap .invoice {
        position: relative;
        top: 7px;
    }

    .order_details_wrap .border-line {
        border-right: 0px solid rgb(226, 206, 226) !important;
    }
}

@media (max-width: 700px) {
    .order_details_wrap h2 {
        color: rgb(78, 0, 92);
        font-size: 17px;
    }

    .order_details_wrap .display-3 {
        font-size: 28px;
        font-weight: 500 !important;
    }
}

.order_details_wrap .card-footer small {
    letter-spacing: 7px !important;
    font-size: 12px;
}

.order_details_wrap .border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.order_details_wrap .order_items{
    overflow-y: auto;
}

.order_details_wrap .order_items{
    background: var(--text-color-white);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 15px;
    overflow-y: auto;
  }

  .order_details_wrap .order_items::-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: var(--bs-gray);
  }

  .order_details_wrap .order_items::-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .order_details_wrap .order_items::-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color);
    background-image: linear-gradient(90deg,
                                    transparent,
                                    var(--primary-color) 50%,
                                    transparent,
                                    transparent);
  }

  .order_details_wrap .order_items::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
      border-radius: 10px;
      background-color: var(--bs-gray);
  }

  .order_details_wrap .order_items::-webkit-scrollbar
  {
      width: 6px;
      background-color: #F5F5F5;
  }

  .order_details_wrap .order_items::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-color: var(--primary-color);
      background-image: -webkit-linear-gradient(90deg,
                                              transparent,
                                              var(--primary-color) 50%,
                                              transparent,
                                              transparent)
  }

/* Timelines */
:root {
    --timeline-primary-color: #333;
    --timeline-secondary-color: #6c757d;
    --timeline-success-color: #28a745;
    --timeline-pending-color: #6c757d;
}

.timeline-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.timeline-icon.completed {
    color: var(--timeline-success-color);
    background-color: rgba(40, 167, 69, 0.1);
}

.timeline-icon.pending {
    color: var(--timeline-pending-color);
    background-color: rgba(108, 117, 125, 0.1);
}

.timeline-content {
    padding-left: 1rem;
    /* border-left: 2px solid #e9ecef; */
}

.timeline-item:last-child .timeline-content {
    border-left: none;
}
