:root {
    --primary-color: #0093E9;
    --primary-bg-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    --btn-bg-color: #263148;
    --btn-bg-image: linear-gradient(to bottom left, #344675, #263148, #344675);
  }
.sidebar {
    background-color:var(--primary-color) !important;
    background-image:var(--primary-bg-image) !important;
}
.btn:not([data-action]):hover{
    background-color:var(--btn-bg-color) !important;
    background-image:var(--btn-bg-image) !important;
}
a:hover{
    color:var(--primary-color) !important;
}

.main-panel {
    border-top: 2px solid var(--primary-color) !important;
    /* background-color:var(--primary-color) !important; */
    /* background-image:var(--primary-bg-image) !important; */
}

.btn-primary {
    background-color:var(--primary-color) !important;
    background-image:var(--primary-bg-image) !important;
}
/*=============================================================
                Site Settings CSS
 =============================================================*/

